{% extends "layout.twig" %}

{% block body %}
    <h2>Contact Symblog</h2>
    <p>Want to contact symblog?</p>

    <form action="/contact" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required="required" />

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required="required" />

        <label for="subject">Subject:</label>
        <input type="text" id="subject" name="subject" required="required" />

        <label for="body">Message:</label>
        <textarea name="body" id="body" cols="30" rows="10" required="required"></textarea>

        <input type="submit" value="Submit" />
    </form>
{% endblock %}

{% block sidebar %}
    {{ include("sidebar.twig", { tags: tags, allComments: data.comments }) }}
{% endblock %}